@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #22c25e;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #22c25e;
}

@layer base {
  h1 {
    @apply text-4xl font-bold mt-8 ml-10 mb-2;
  }
}
